---
import "./SearchForm.css";
---

<form class="search-form" action="/search" method="GET">
  <label for="search-input" class="search-form__label">Search units</label>
  <input
    id="search-input"
    name="q"
    type="text"
    class="search-form__input"
    placeholder="Search units..."
  />
  <button type="submit" class="search-form__button">Search</button>
</form>
