---
import SearchForm from "@/components/SearchForm.astro";
import "./SiteHeader.css";
---

<nav class="site-header">
  <a href="/" class="site-header__title">Army Builder</a>
  <SearchForm />
</nav>
